{% load static %}
<div class="slider-wrap">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                    <img src="{% static 'img/slider/slide-img1.jpg' %}" alt="slide">
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="350"
                         data-speed="1100"
                         data-start="1100"
                         data-easing="easeInOutBack"
                         style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: #FFF;">
                        fashion men's
                    </div>
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="375"
                         data-speed="1100"
                         data-start="1100"
                         data-easing="easeInOutBack"
                         style="border-width: 2px; background-color: #ffffff; min-height: 1px;min-width: 400px;">
                    </div>
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="400"
                         data-speed="1100"
                         data-start="1400"
                         data-easing="easeInOutBack"
                         style=" font-size: 100px; font-weight: 800; line-height:80px;text-transform: uppercase; color: #fff; text-shadow: 0 0 2px rgba(0,0,0,.05)">
                        collection
                    </div>
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="500"
                         data-speed="1100"
                         data-start="1400"
                         data-easing="easeInOutBack"
                         style=" font-size: 20px; font-weight: normal; color: #FFF;line-height:14px;text-transform: uppercase;">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </div>
                    <div class="tp-caption lfb carousel-caption-inner"
                         data-x="150"
                         data-y="550"
                         data-speed="1300"
                         data-start="1700"
                         data-easing="easeInOutBack"
                         style=" font-size: 17px; font-weight: bold; text-transform: uppercase; color: #F3F3F3;">
                        <a href="#" class="s-btn"
                           style="background: #EC4445;color: #ffffff;display: block;padding: 12px 28px;">shop now</a>
                    </div>
                </li>

                <li data-transition="random"
                    data-slotamount="7"
                    data-masterspeed="1000">
                    <img src="{% static 'img/slider/slide-img2.jpg' %}" alt="slide">
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="350"
                         data-speed="1100"
                         data-start="1100"
                         data-easing="easeInOutBack"
                         style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: #FFF;">
                        fashion women’s
                    </div>
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="375"
                         data-speed="1100"
                         data-start="1100"
                         data-easing="easeInOutBack"
                         style="border-width: 2px; background-color: #ffffff; min-height: 1px;min-width: 400px;">
                    </div>
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="400"
                         data-speed="1100"
                         data-start="1400"
                         data-easing="easeInOutBack"
                         style=" font-size: 100px; font-weight: 800; line-height:80px;text-transform: uppercase; color: #fff; text-shadow: 0 0 2px rgba(0,0,0,.05)">
                        Latest collection
                    </div>
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="500"
                         data-speed="1100"
                         data-start="1400"
                         data-easing="easeInOutBack"
                         style=" font-size: 20px; font-weight: normal; color: #FFF;line-height:14px;text-transform: uppercase;">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </div>
                    <div class="tp-caption lfb carousel-caption-inner"
                         data-x="150"
                         data-y="550"
                         data-speed="1300"
                         data-start="1700"
                         data-easing="easeInOutBack"
                         style=" font-size: 17px; font-weight: bold; text-transform: uppercase; color: #F3F3F3;">
                        <a href="#" class="s-btn"
                           style="background:#EC4445;color: #ffffff;display: block;padding: 12px 28px;">shop now</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END HOME SLIDER -->
