.category-nav {
    display: inline-flex
}

.product-slide {
    height: 500px;
    display: grid;
    grid-gap: 10px 10px;
}

.product:hover {
    outline: lightgrey;
    border: 5px solid #eaeaea;
    background-color: #ffffff;

}

.product-name {
    margin-top: 10%
}

.product-price {
    margin: 10% auto auto;
    text-align: left;
}

.product-image {
    min-width: 180px;
    max-width: 180px;
    min-height: 200px;
    max-height: 200px;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Checkbox stars */
.rating {
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    width: 155px;
    height: 30px;
}

.rating > input {
    opacity: 0;
    margin-right: -100%;
}

.rating > label {
    position: relative;
    display: block;
    float: right;
    background: url('../img/star-off-big.png');
    background-size: 30px 30px;
}

.rating > label:before {
    display: block;
    opacity: 0;
    content: '';
    width: 30px;
    height: 30px;
    background: url('../img/star-on-big.png');
    background-size: 30px 30px;
    transition: opacity 0.2s linear;
}

.rating > label:hover:before, .rating > label:hover ~ label:before, .rating:not(:hover) > :checked ~ label:before {
    opacity: 1;
}

/* //Checkbox stars */
