{% extends "base.html" %}
{% load static %}
{% block css %}
{% endblock %}

{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-8">
                        <div class='owl-carousel' style="text-align: center">

                            {% if product.imageproducts.all %}
                                {% for image in product.imageproducts.all %}
                                    <div><img class="img-fluid" src="{{ image.image.url }}"
                                              style="max-height: 300px; width: auto; margin:10% auto"></div>
                                {% endfor %}
                            {% else %}
                                <div><img src="{% static 'img/no-image.jpg' %}"
                                          style="max-height: 300px; width: auto; margin:10% auto"></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h6>
                        <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
                    </h6>
                    <form action="{% url 'analysis:add_rating' %}" method="post" name="rating">
                        <b>Рейтинг</b>
                        {% csrf_token %}
                        <input type="hidden" value="{{ product.id }}" name="product">
                        <span class="rating">
                            {% for form in star_form %}
                                {% for item in form %}
                                    {% if rating_avg == item.choice_label %}
                                        <input id="rating{{ item.choice_label }}" type="radio"
                                               value="{{ item.choice_label }}"
                                               name="star" checked>
                                        <label for="rating{{ item.choice_label }}">1</label>
                                    {% else %}
                                        <input id="rating{{ item.choice_label }}" type="radio"
                                               value="{{ item.choice_label }}"
                                               name="star">
                                        <label for="rating{{ item.choice_label }}"></label>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                        </span>
                    </form>

                    {% if product.promoaction.get %}
                        <div>
                            <span class="h3" style="color: #bd2130">{{ product.get_price_with_discount }}руб.</span>
                            &nbsp&nbsp
                            <span>
                                <del class="h6">{{ product.price }}руб.</del>
                            </span>
                        </div>

                    {% else %}
                        <h5>{{ product.price }} руб.</h5>
                    {% endif %}
                    <p class="card-text">{{ product.description|linebreaks }}</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <input class="btn btn-success" type="submit" value="В корзину">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                items: 1,
                loop: true,
            });


            const rating = document.querySelector('form[name=rating]');
            rating.addEventListener('change', function (Event) {
                let data = new FormData(this);
                fetch(`${this.action}`, {
                    method: 'POST',
                    body: data
                })
            })


        });


    </script>
{% endblock %}

